<h3> Movies </h3>
<img src="images/logo.png" alt="">
<div class="section">
    <p class="lead"> Get access to a legendary collection of movies</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> 
    Log in with Google
    </a>
    
</div>