
p{
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

#find_id, #delete_id, #edit_id {
    max-width: fit-content;
}

form{
    margin-bottom: 3em;
    max-width: fit-content;
}